/* sidebar */

.sidebar {
  @apply w-24 fixed h-screen m-8 bg-accent;
}


/* icons basic style */
.icon,
.icon-active {
  @apply px-1 py-6 w-full h-20 cursor-pointer transition duration-300 ease-in-out;
}
/* active icon */
.icon-active {
  @apply bg-accentfade;
}
/* search icon */
.search-ico {
  top: 0;
  left: 0;
}

/* icon hover */
.icon:hover {
  @apply bg-accentfade;
}


/* primary button */
.btn-primary {
  @apply bg-black text-white p-4 border-black border-0 transition duration-75 ease-in-out;
}

/* button hover */
.btn-primary:hover {
  @apply bg-white text-black border-black border;
}
/* red notification circle */
.notify {
  @apply bg-notify w-8 h-8 rounded-full text-center absolute top-0 left-0 z-10 shadow-xl;
}

/* tiles */
.tile {
  @apply bg-white rounded-md w-64 p-5 relative ml-3 mt-3 cursor-pointer transition duration-150 ease-in-out shadow-md;
}
/* menu dots */
.threedots {
  @apply absolute top-0 right-0 mr-4 mt-2 cursor-pointer;
}

/* fonts */

/* subtitle */

.subtitle {
  @apply text-xs text-gray-600 font-light;
}

/* Style the list */
.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align: right;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #bebebe;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #black;
}
